@charset "utf-8";

body {
	//background: url(../images/bg.png);
	background-color:#FFF:
	overflow-x:hidden;
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
